<!-- BEGIN OF page cover -->
<div class="page-cover">
  <!-- Cover Background -->
  <div class="cover-bg bg-img" data-image-src="/public/img/items/image.jpg"></div>

  <!-- BEGIN OF Slideshow Background - uncomment below to use background slideshow-->
  <div class="cover-bg slide-show">
    <i class="img" data-src="/public/img/items/florescent.jpg"></i>
    <i class="img" data-src="/public/img/items/shirt.jpg"></i>
    <i class="img" data-src="/public/img/items/image.jpg"></i>
    <i class="img" data-src="/public/img/items/brochures1.jpg"></i>
    <i class="img" data-src="/public/img/items/logo1.png"></i>
  </div>
  <!-- END OF Slideshow Background -->

  <!-- Transluscent mask as filter -->
  <div class="cover-bg-mask bg-color" data-bgcolor="rgba(29, 29, 29, 0.2)"></div>
</div>
<!--END OF page cover -->