<!-- BEGIN OF page footer -->
<footer id="site-footer" class="page-footer">

  <div id="miniChatBox" class="row"
    style="display: none; position: fixed; bottom: 0; left: 0; padding-bottom: 20px; padding-left: 20px; margin-left: 20px;">
    <a href="/chat" style="text-decoration: none;">
      <img src="/public/img/message.png" class="img-responsive" style="width: 90px; height: 90px;" />
      <p style="color: orange; font-weight: bold;">New Message</p>
    </a>
  </div>
  <!-- Right content -->
  <div class="footer-right">
    <ul class="social">
      <li>
        <a href="https://www.facebook.com" target="_blank">
          <i class="icon fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com" target="_blank">
          <i class="icon fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com" target="_blank">
          <i class="icon fa fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com" target="_blank">
          <i class="icon fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
<!-- END OF site footer -->