<div class="row">
  <div class="col-md-6">
    <input
      type="text"
      class="form-control"
      name="designName"
      placeholder="Design Name"
    />
  </div>
  <div class="col-md-6">
    <input type="file" class="form-control" id="designFile" accept="image/*" />
  </div>
  <br /><br /><br />
  <div class="col-md-12">
    <input type="text" class="form-control" id="designURL" name="designURL" />
  </div>
  <br /><br /><br />
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <img id="showDesign" class="img-thumbnail img-responsive"/>
    <br /><br />
    <input type="submit" class="btn btn-primary btn-block" value="Submit" style="text-transform: uppercase;"/>
  </div>
  <div class="col-md-2"></div>
</div>


<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#showDesign').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#designFile").change(function(){
    readURL(this);
});
</script>