<% extend('./../../layout.ejs') %>
<link
    href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&family=Playfair+Display:ital,wght@1,500&family=Dancing+Script:wght@700&family=Orbitron:wght@700&family=Lemonada&family=Lobster&family=Pacifico&family=Indie+Flower&family=Shadows+Into+Light&family=Permanent+Marker&family=Caveat:wght@700&family=Satisfy&amily=Lobster+Two:ital@1&family=Kaushan+Script&family=Sacramento&family=Gloria+Hallelujah"
    rel="stylesheet">
<style>
    .upperText {
        margin-top: 160px !important;
        letter-spacing: 0.1em !important;
    }

    .lowerText {
        margin-top: 10px !important;
        letter-spacing: 0.1em !important;
    }

    .oswald {
        font-family: 'Oswald', sans-serif;
    }

    .robotoSlab {
        font-family: 'Roboto Slab', serif;
    }

    .playfair {
        font-family: 'Playfair Display', serif;
    }

    .dancingScript {
        font-family: 'Dancing Script', cursive;
    }

    .orbitron {
        font-family: 'Orbitron', sans-serif;
    }

    .lemonada {
        font-family: 'Lemonada', cursive;
    }

    .lobster {
        font-family: 'Lobster', cursive;
    }

    .pacifico {
        font-family: 'Pacifico', cursive;
    }

    .indieFlower {
        font-family: 'Indie Flower', cursive;
    }

    .shadowsIntoLight {
        font-family: 'Shadows Into Light', cursive;
    }

    .permanentMarker {
        font-family: 'Permanent Marker', cursive;
    }

    .caveat {
        font-family: 'Caveat', cursive;
    }

    .satisfy {
        font-family: 'Satisfy', cursive;
    }

    .lobster {
        font-family: 'Lobster Two', cursive;
    }

    .kaushanScript {
        font-family: 'Kaushan Script', cursive;
    }

    .sacramento {
        font-family: 'Sacramento', cursive;
    }
</style>
<!-- Page Loader : just comment these lines to remove it -->
<div class="page-loader" style="display: none;">
    <div>
        <div class="icon ion-spin"></div>
        <br />
        <p class="upperText">Working on your design</p>
        <p class="lowerText">Please wait, while we're creating your design</p>
    </div>
</div>

<script type="text/javascript" src="/public/automted/script.js"></script>