<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>LOGO MART</title>
    <!-- Meta Tags -->
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- Styling Files -->
    <link
      rel="stylesheet"
      href="/public/stylesheets/bootstrap.min.css"
      type="text/css"
    />
    <link
      href="/public/stylesheets/style.css"
      type="text/css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/stylesheets/pageloader.css" />
    <link rel="stylesheet" href="/public/javascripts/vendor/swiper.min.css" />
    <link
      rel="stylesheet"
      href="/public/javascripts/vendor/jquery.fullpage.min.css"
    />
    <link rel="stylesheet" href="/public/javascripts/vegas/vegas.min.css" />
    <!-- Main CSS files -->
    <link rel="stylesheet" href="/public/stylesheets/main.css" />
    <!-- Web fonts and Web Icons -->
    <link rel="stylesheet" href="/public/fonts/opensans/stylesheet.css" />
    <link rel="stylesheet" href="/public/fonts/bebas/stylesheet.css" />
    <link rel="stylesheet" href="/public/fonts/ionicons.min.css" />
    <link rel="stylesheet" href="/public/fonts/font-awesome.min.css" />

    <!-- Script Files -->
    <script src="/public/javascripts/jquery.min.js"></script>
    <script src="/public/javascripts/bootstrap.min.js"></script>
    <script src="/public/javascripts/vendor/modernizr-2.7.1.min.js"></script>
    <script src="/public/javascripts/vendor/scrolloverflow.min.js"></script>
    <script src="/public/javascripts/vendor/all.js"></script>
    <script src="/public/javascripts/particlejs/particles.min.js"></script>
    <script src="/public/javascripts/jquery.downCount.js"></script>
    <script src="/public/javascripts/form_script.js"></script>
    <script src="/public/javascripts/main.js"></script>
  </head>

  <body id="menu" class="body-page">
    <!-- Page Loader : just comment these lines to remove it -->
    <div class="page-loader" id="page-loader">
      <div>
        <div class="icon ion-spin"></div>
        <p>loading</p>
      </div>
    </div>

    <!-- BEGIN OF site header Menu -->
    <header
      class="page-header navbar page-header-alpha scrolled-white menu-right topmenu-right"
    >
      <!-- Begin of menu icon toggler -->
      <button class="navbar-toggler site-menu-icon" id="navMenuIcon">
        <!-- Available class : menu-icon-dot / menu-icon-thick /menu-icon-random -->
        <span class="menu-icon menu-icon-random">
          <span class="bars">
            <span class="bar1"></span>
            <span class="bar2"></span>
            <span class="bar3"></span>
          </span>
        </span>
      </button>
      <!-- End of menu icon toggler -->

      <!-- Begin of logo/brand -->
      <a class="navbar-brand" href="#">
        <span class="logo">
          <img class="light-logo" src="img/logo.png" alt="Logo" />
        </span>
        <span class="text">
          <span class="line">Simpleux</span>
          <span class="line sub">Portfolio Template</span>
        </span>
      </a>
      <!-- End of logo/brand -->

      <!-- begin of menu wrapper -->
      <div class="all-menu-wrapper" id="navbarMenu">
        <!-- Begin of top menu -->
        <nav class="navbar-topmenu">
          <!-- Begin of CTA Actions, & Icons menu -->
          <ul class="navbar-nav navbar-nav-actions">
            <li class="nav-item">
              <a
                class="btn btn-outline-white btn-round"
                target="_blank"
                href="https://themeforest.net/item/simpleux-beautiful-creative-website-template-for-agency-business-and-portfolio/20863111"
              >
                Buy Now
              </a>
            </li>
          </ul>
          <!-- End of CTA & Icons menu -->
        </nav>
        <!-- End of top menu -->

        <!-- Begin of hamburger mainmenu menu -->
        <nav class="navbar-mainmenu">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html#home"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery.html">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="item.html">Item</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo.html">Demo</a>
            </li>
          </ul>
        </nav>
        <!-- End of hamburger mainmenu menu -->

        <!-- Begin of sidebar nav menu params class: text-only / icon-only-->
        <nav class="navbar-sidebar ">
          <ul class="navbar-nav" id="qmenu">
            <li class="nav-item" data-menuanchor="home">
              <a href="#home">
                <i class="icon ion-ios-home-outline"></i>
                <span class="txt">Home</span>
              </a>
            </li>
            <li class="nav-item" data-menuanchor="about">
              <a href="#about">
                <i class="icon ion-ios-information-outline"></i>
                <span class="txt">About</span>
              </a>
            </li>
            <li class="nav-item" data-menuanchor="services">
              <a href="#services">
                <i class="icon ion-ios-list-outline"></i>
                <span class="txt">Services</span>
              </a>
            </li>
            <li class="nav-item" data-menuanchor="projects">
              <a href="#projects">
                <i class="icon ion-ios-albums-outline"></i>
                <span class="txt">Projects</span>
              </a>
            </li>
            <li class="nav-item" data-menuanchor="register">
              <a href="#register">
                <i class="icon ion-ios-compose-outline"></i>
                <span class="txt">Register</span>
              </a>
            </li>
            <li class="nav-item" data-menuanchor="contact">
              <a href="#contact">
                <i class="icon ion-ios-telephone-outline"></i>
                <span class="txt">Contact</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End of sidebar nav menu -->
      </div>
      <!-- end of menu wrapper -->
    </header>
    <!-- END OF site header Menu-->

      <!-- BEGIN OF page cover -->
  <div class="page-cover">
    <!-- Cover Background -->
    <div class="cover-bg bg-img" data-image-src="img/bg-default.jpg"></div>

    <!-- BEGIN OF Slideshow Background - uncomment below to use background slideshow-->
    <div class="cover-bg slide-show">
      <i class='img' data-src='./img/items/img-sample7.jpg'></i>
      <i class='img' data-src='./img/items/img-sample2.jpg'></i>
      <i class='img' data-src='./img/bg-default.jpg'></i>
      <i class='img' data-src='./img/items/img-portrait.jpg'></i>
    </div>
    <!-- END OF Slideshow Background -->

    <!-- Transluscent mask as filter -->
    <div class="cover-bg-mask bg-color" data-bgcolor="rgba(29, 29, 29, 0.2)"></div>
  </div>
  <!--END OF page cover -->

  
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">My First Project</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/"> Dashboard </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup"> Sign-up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signin"> Sign-in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user"> User Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery"> My Gallery</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
    </div>
    <div class="container-fluid">
      <%- content %>
    </div>
  </body>
</html>
