<!doctype html>
<html class="no-js" lang="en">
  <head>
    <title>LOGO MART</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Styling Files -->
    <link rel="stylesheet"href="/public/stylesheets/bootstrap.min.css" type="text/css">
    <link href="/public/stylesheets/style.css" type="text/css"rel="stylesheet"/>
    <link rel="stylesheet" href="css/pageloader.css">
    <link rel="stylesheet" href="js/vendor/swiper.min.css">
    <link rel="stylesheet" href="js/vendor/jquery.fullpage.min.css">
    <link rel="stylesheet" href="js/vegas/vegas.min.css">
    <!-- Main CSS files -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Web fonts and Web Icons -->
    <link rel="stylesheet" href="fonts/opensans/stylesheet.css">
    <link rel="stylesheet" href="fonts/bebas/stylesheet.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">

    <!-- Script Files -->
    <script src="/public/javascripts/jquery.min.js"></script>
    <script src="/public/javascripts/bootstrap.min.js"></script>
    <script src="js/vendor/modernizr-2.7.1.min.js"></script>
    <script src="js/vendor/scrolloverflow.min.js"></script>
    <script src="js/vendor/all.js"></script>
    <script src="js/particlejs/particles.min.js"></script>
    <script src="js/jquery.downCount.js"></script>
    <script src="js/form_script.js"></script>
    <script src="js/main.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">My First Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/"> Dashboard </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup"> Sign-up</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signin"> Sign-in</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user"> User Profile</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery"> My Gallery</a> 
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
    <div class="container-fluid">
      <%- content %>
    </div>
  </body>
</html>

