body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body .container-fluid{
  margin: 0px;
}

.jumbotron{
  margin-top: 100px;
  background: rgba(0,0,0,0.4);
}


.jumbotron > .row > form{
  width: 100%!important;
}