<div class="container" id="fontColorTab">
    <div class="card" style="padding-top: 20px; padding-bottom: 20px; padding-left: 7px; padding-right: 7px;">
        <div class="row fontColorRow"></div>
    </div>
</div>