<link
    href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&family=Playfair+Display:ital,wght@1,500&family=Dancing+Script:wght@700&family=Orbitron:wght@700&family=Lemonada&family=Lobster&family=Pacifico&family=Indie+Flower&family=Shadows+Into+Light&family=Permanent+Marker&family=Caveat:wght@700&family=Satisfy&amily=Lobster+Two:ital@1&family=Kaushan+Script&family=Sacramento&family=Gloria+Hallelujah"
    rel="stylesheet">
<style>
    .oswald {
        font-family: 'Oswald', sans-serif;
    }

    .robotoSlab {
        font-family: 'Roboto Slab', serif;
    }

    .playfair {
        font-family: 'Playfair Display', serif;
    }

    .dancingScript {
        font-family: 'Dancing Script', cursive;
    }

    .orbitron {
        font-family: 'Orbitron', sans-serif;
    }

    .lemonada {
        font-family: 'Lemonada', cursive;
    }

    .lobster {
        font-family: 'Lobster', cursive;
    }

    .pacifico {
        font-family: 'Pacifico', cursive;
    }

    .indieFlower {
        font-family: 'Indie Flower', cursive;
    }

    .shadowsIntoLight {
        font-family: 'Shadows Into Light', cursive;
    }

    .permanentMarker {
        font-family: 'Permanent Marker', cursive;
    }

    .caveat {
        font-family: 'Caveat', cursive;
    }

    .satisfy {
        font-family: 'Satisfy', cursive;
    }

    .lobster {
        font-family: 'Lobster Two', cursive;
    }

    .kaushanScript {
        font-family: 'Kaushan Script', cursive;
    }

    .sacramento {
        font-family: 'Sacramento', cursive;
    }

    .gloriaHallelujah {
        font-family: 'Gloria Hallelujah', cursive;
    }
</style>
<div class="container-fluid fontsContainer">
</div>