<div class="container" id="fontColorTab">
    <div id="fontStylingError" class="card"
        style="margin-top: 20px; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px; padding-left: 7px; padding-right: 7px;">
        <h5 style="color: #303030;">Select Some Text Field First.</h5>
    </div>
    <div id="fontStylingCard" class="card"
        style="margin-top: 20px; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px; padding-left: 7px; padding-right: 7px; display: none;">
        <div class="form-group">
            <label for="fontSize" style="color: #303030;">Font Size</label>
            <select class="form-control" id="fontSize">
                <option value="10px">10</option>
                <option value="11px">11</option>
                <option value="12px">12</option>
                <option value="13px">13</option>
                <option value="14px">14</option>
                <option value="15px">15</option>
                <option value="16px">16</option>
                <option value="17px">17</option>
                <option value="18px">18</option>
                <option value="19px">19</option>
                <option value="20px">20</option>
                <option value="21px">21</option>
                <option value="22px">22</option>
                <option value="23px">23</option>
                <option value="24px">24</option>
                <option value="25px">25</option>
                <option value="26px">26</option>
                <option value="27px">27</option>
                <option value="28px">28</option>
                <option value="29px">29</option>
                <option value="30px">30</option>
                <option value="31px">31</option>
                <option value="32px">32</option>
                <option value="33px">33</option>
                <option value="34px">34</option>
                <option value="35px">35</option>
                <option value="36px">36</option>
                <option value="37px">37</option>
                <option value="38px">38</option>
                <option value="39px">39</option>
                <option value="40px">40</option>
            </select>
        </div>
        <label style="color: #303030;">Font Colors</label>
        <div class="row fontColorRow"></div>
    </div>
</div>