<% extend('../admin_layout.ejs') %>
<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="mb-3 card" style="padding: 20px;">
      <div class="card-header-tab card-header">
        <div
          class="card-header-title font-size-lg text-capitalize font-weight-normal"
        >
          <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
          ALL T_SHIRTS DESIGN
        </div>
      </div>
      <div class="row">
        <% data.forEach(d=>{ %>
        <div class="col-md-4">
            <a href="#">
          <div class="mb-3 card" style="padding: 12px;">
            <img
              src="<%= d.val().designURL %>"
              class="img-thumbnail"
              style="height: 300px!important;"
            />
            <h5 style="width: 100%; text-align: center;">
              <%= d.val().designName %>
            </h5>
          </div>
        </a>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
