<% extend('../admin_layout.ejs') %>
<div class="app-main__outer">
    <!-- Starrting Main -->
    <div class="app-main__inner">
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div
                    class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-success border-success">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content pt-3 pl-3 pb-1">
                            <div class="widget-chart-flex">
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div class="fsize-4">
                                            <!-- <small class="opacity-5">$</small> -->
                                            <span id="allDesign"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="widget-subheading mb-0 opacity-5">All Designs</h6>
                        </div>
                        <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row">
                            <div class="col-md-9">
                                <div id="dashboard-sparklines-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div
                    class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-primary border-primary">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content pt-3 pl-3 pb-1">
                            <div class="widget-chart-flex">
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div class="fsize-4">

                                            <span id="logoDesign"></span></div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="widget-subheading mb-0 opacity-5">Logo Designs</h6>
                        </div>
                        <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row">
                            <div class="col-md-9">
                                <div id="dashboard-sparklines-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div
                    class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-warning border-warning">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content pt-3 pl-3 pb-1">
                            <div class="widget-chart-flex">
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div class="fsize-4">

                                            <span id="BusinessCardDesign"></span></div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="widget-subheading mb-0 opacity-5">Business Card Designs</h6>
                        </div>
                        <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row">
                            <div class="col-md-9">
                                <div id="dashboard-sparklines-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div
                    class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-danger border-danger">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content pt-3 pl-3 pb-1">
                            <div class="widget-chart-flex">
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div class="fsize-4">

                                            <span id="MedicalCapsDesign"></span></div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="widget-subheading mb-0 opacity-5">Medical Caps Designs</h6>
                        </div>
                        <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row">
                            <div class="col-md-9">
                                <div id="dashboard-sparklines-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div
                    class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-danger border-danger">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content pt-3 pl-3 pb-1">
                            <div class="widget-chart-flex">
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div class="fsize-4">

                                            <span id="TshirtsDesign"></span></div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="widget-subheading mb-0 opacity-5">T-Shirts Designs</h6>
                        </div>
                        <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row">
                            <div class="col-md-9">
                                <div id="dashboard-sparklines-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div
                    class="card mb-3 widget-chart widget-chart2 text-left card-btm-border card-shadow-danger border-danger">
                    <div class="widget-chat-wrapper-outer">
                        <div class="widget-chart-content pt-3 pl-3 pb-1">
                            <div class="widget-chart-flex">
                                <div class="widget-numbers">
                                    <div class="widget-chart-flex">
                                        <div class="fsize-4">

                                            <span id="brochuresAndPamphlets"></span></div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="widget-subheading mb-0 opacity-5">Brochures And Pamphlets</h6>
                        </div>
                        <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-2 he-auto row">
                            <div class="col-md-9">
                                <div id="dashboard-sparklines-6"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>