<% extend('../admin_layout.ejs') %>

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="mb-3 card" style="padding: 20px;">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
                    ADD NEW T_SHIRTS DESIGN
                </div>
            </div>
            <form method="POST" action="newTShirts">
                <%- include('../shared/design_basic') %>
            </form>
        </div>
    </div>
</div>
