<% extend('./../layout.ejs') %>
<script type="text/javascript" src="/public/javascripts/userChat.js"></script>

<div class="row" style="height: 100%;">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="jumbotron" style="padding-top: 7px!important; padding-bottom: 7px!important; height: 950px;">
            <div class="row" style="padding-top: 13px; padding-bottom: 13px; text-transform: uppercase;">
                <h5>Chatting with <b>Logo Mart Admin</b></h5>
            </div>
            <div class="scroll-area-lg" style="height: 92%;">
                <div class="scrollbar-container ps ps--active-y">
                    <div class="p-2" id="userMainChatRoom">
                    </div>
                </div>
            </div>
            <div class="row userChatBottomBox">
                <div class="col-md-10">
                    <textarea id="userMessageBox" class="form-control chatTextArea"
                        placeholder="Enter your message here"></textarea>
                </div>
                <div class="col-md-2">
                    <p>SEND</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron" style="padding-top: 7px!important; padding-bottom: 7px!important; height: 950px;">
            <div class="row" style="padding-top: 13px; padding-bottom: 13px; text-transform: uppercase;">
                <h5><b>Order Detail</b></h5>
            </div>
            <div class="row">
                <div class="col-md-12" id="userOrderDetail">
                    
                </div>
            </div>
        </div>
    </div>
</div>