<% extend('./../layout.ejs') %>
<!-- BEGIN OF page main content -->
<main class="page-main page-fullpage main-anim" id="itempage">

    <!-- Begin of slider section -->
    <div class="section section-twoside fp-auto-height-responsive section-gallery fullheight" data-section="projects">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper twoside">
            <!-- title -->
            <div class="section-title text-center">
                <h5 class="title-bg no-anim">Gallery</h5>
            </div>


            <!-- begin of carousel-swiper-beta -->
            <div class="slider-wrapper carousel-swiper-beta carousel-smalls carousel-swiper-beta-demo mt-40">
                <!-- slider -->
                <div class="slider-container swiper-container">
                    <ul class="item-list swiper-wrapper">
                        <!-- item -->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="/public/img/items/img-sample2-small.jpg" alt="Image" class="img">
                                </div>
                                <a class="legend" href="#">
                                    <h3 class="display-3">Mountain</h3>
                                    <h4>Music / Beats</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item -->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="/public/img/items/img-sample3-small.jpg" alt="Image" class="img">
                                </div>
                                <a class="legend" href="#">
                                    <h3 class="display-3">Cloud</h3>
                                    <h4>Music / Beats</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item -->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="/public/img/items/img-sample4-small.jpg" alt="Image" class="img">
                                </div>
                                <a class="legend" href="#">
                                    <h3 class="display-3">Garden</h3>
                                    <h4>Music / Beats</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item -->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="/public/img/items/img-sample5-small.jpg" alt="Image" class="img">
                                </div>
                                <a class="legend" href="#">
                                    <h3 class="display-3">Sky</h3>
                                    <h4>Music / Beats</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item -->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="/public/img/items/img-sample5-small.jpg" alt="Image" class="img">
                                </div>
                                <a class="legend" href="#">
                                    <h3 class="display-3">Sky</h3>
                                    <h4>Music / Beats</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item -->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="/public/img/items/img-sample5-small.jpg" alt="Image" class="img">
                                </div>
                                <a class="legend" href="#">
                                    <h3 class="display-3">Sky</h3>
                                    <h4>Music / Beats</h4>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- pagination -->
                <div class="items-pagination bar"></div>

                <!-- navigation -->
                <div class="items-button bottom fit items-button-prev">
                    <a class="btn btn-transp-arrow btn-primary icon-left" href="#">
                        <span class="icon arrow-left"></span>
                        <span class="text">Prev</span>
                    </a>
                </div>
                <div class="items-button bottom fit items-button-next">
                    <a class="btn btn-transp-arrow btn-primary" href="#">
                        <span class="icon arrow-right"></span>
                        <span class="text">Next</span>
                    </a>
                </div>
            </div>
            <!-- end of carousel-swiper-beta -->


        </div>
        <!-- End of section wrapper -->
    </div>
    <!-- End of slider section -->

</main>
<!-- END OF page main content -->