<% extend('./../layout.ejs') %>
<!-- BEGIN OF page main content -->
<main class="page-main page-fullpage main-anim" id="itempage">

    <!-- Begin of slider section -->
    <div class="section section-twoside fp-auto-height-responsive section-gallery fullheight" data-section="projects">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper twoside">
            <!-- title -->
            <div class="section-title text-center">
                <h5 class="title-bg no-anim">Gallery</h5>
            </div>


            <!-- begin of carousel-swiper-beta -->
            <div class="slider-wrapper carousel-swiper-beta carousel-smalls carousel-swiper-beta-demo mt-40">
                <!-- slider -->
                <div class="slider-container swiper-container">
                    <ul class="item-list swiper-wrapper" id="logoMartProjectsGallery"></ul>
                </div>
                <!-- pagination -->
                <div class="items-pagination bar"></div>

                <!-- navigation -->
                <div class="items-button bottom fit items-button-prev">
                    <a class="btn btn-transp-arrow btn-primary icon-left" href="#">
                        <span class="icon arrow-left"></span>
                        <span class="text">Prev</span>
                    </a>
                </div>
                <div class="items-button bottom fit items-button-next">
                    <a class="btn btn-transp-arrow btn-primary" href="#">
                        <span class="icon arrow-right"></span>
                        <span class="text">Next</span>
                    </a>
                </div>
            </div>
            <!-- end of carousel-swiper-beta -->


        </div>
        <!-- End of section wrapper -->
    </div>
    <!-- End of slider section -->

</main>
<!-- END OF page main content -->

<script>
    $(document).ready(function () {
        firebase
            .database()
            .ref()
            .child("UserDesign")
            .limitToLast(25)
            .once("value")
            .then((result) => {
                let count = 0;
                let designs = [];
                result.forEach((r) => {
                    const design = r.val();
                    if (
                        design.designUrl !== null &&
                        design.designUrl !== undefined &&
                        design.designUrl.length > 0
                    ) {
                        designs.push(design);
                    }
                });
                designs.reverse();
                designs.forEach(design => {
                    if (count < 9) {
                        let content = `
                            <li class="slide-item swiper-slide">
                                <div class="item-wrapper">
                                <div class="illustr" style="height: 700px !important;">
                                    <img src="${design.designUrl}" alt="Image" class="img" style="height: 700px !important;"/>
                                </div>
                                <a class="legend" href="item.html#project_url">
                                    <h3 class="display-3">${design.companyName}</h3>
                                    <h4>${design.tagline}</h4>
                                </a>
                                </div>
                            </li>`;
                        $("#logoMartProjectsGallery").append(content);
                        count++;
                    }
                });

                // 4 Carousel Slider
                new Swiper(".carousel-swiper-beta-demo .swiper-container", {
                    pagination: ".carousel-swiper-beta-demo .items-pagination",
                    paginationClickable: ".carousel-beta-alpha-demo .items-pagination",
                    nextButton: ".carousel-swiper-beta-demo .items-button-next",
                    prevButton: ".carousel-swiper-beta-demo .items-button-prev",
                    loop: true,
                    grabCursor: true,
                    centeredSlides: true,
                    autoplay: 5000,
                    autoplayDisableOnInteraction: false,
                    slidesPerView: 1,
                    spaceBetween: 0,
                    breakpoints: {
                        1024: {
                            slidesPerView: 1,
                        },
                        800: {
                            slidesPerView: 1,
                            spaceBetween: 0,
                        },
                        640: {
                            slidesPerView: 1,
                            spaceBetween: 0,
                        },
                        440: {
                            slidesPerView: 1,
                            spaceBetween: 0,
                        },
                    },
                });
            });
    });
</script>