<% extend('./../layout.ejs') %>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <a href="/businesscard" class="btn btn-primary btn-lg btn-block">Business Card</a>
                </div>
                
                <div class="col-md-4">
                    <a href="/caps" type="button" class="btn btn-primary btn-lg btn-block">Medical Caps</a>
                </div>

                <div class="col-md-4">
                    <a href="/logo" type="button" class="btn btn-primary btn-lg btn-block">Logo Design</a>
                </div>   
            </div>
            <div class= "row" style="padding-top: 40px;">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <a href="/brochures" type="button" class="btn btn-primary btn-lg btn-block">Brochures/Pamphlet</a>
                </div>

                <div class="col-md-5">
                    <a href="t-shirt" type="button" class="btn btn-primary btn-lg btn-block">T-Shirt</a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div> 
    </div>
    <div class="col-md-3"></div>
</div>