<% extend('./../layout.ejs') %>
<!-- Begin of home section -->
<div class="section section-home fullscreen-md fp-auto-height-responsive " data-section="home">
  <!-- Begin of section wrapper -->
  <div class="section-wrapper">
    <!-- content -->
    <div class="section-content anim">
      <div class="row">
        <div class="col-12 col-md-6 text-left">
          <!-- title and description -->
          <div class="title-desc">
            <h2 class="display-4 display-title home-title bordered anim-1">
              LOGO-MART
            </h2>
            <!-- <h4 class="anim-2">
              A Bootstrap 4 based template, helping you to build modern and
              beautiful websites.
            </h4> -->
          </div>

          <!-- Action button -->
          <div class="btns-action anim-3">
            <a class="btn btn-outline-white btn-round" href="/get-started">
              Get started
            </a>
          </div>
        </div>

        <!-- begin of right content -->
        <div class="col-12 col-md-6 right-content hidden-sm center-vh">
          <!-- content -->
          <div class="section-content">
            <!-- illustartion -->
            <div class="illustr zoomout-1">
              <img class="logo" src="/public/img/logo1.png" alt="Logo" />
            </div>
          </div>
        </div>
        <!-- end of right content -->
      </div>
    </div>
    <!-- begin of enter features field -->
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="jumbotron" style="padding-top: 7px!important; padding-bottom: 7px!important;">
          <div class="row">
            <form id="logoFeatureInForm" method="POST" action="/start">
              <h1 style="text-align:center">Make Your Own Logo</h1>
              <div class="form-group form-success-gone">
                <input name="companyName" required type="text" placeholder="Enter your Company Name"
                  class="form-control-line form-control-white" />
              </div>
              <div class="form-group form-success-gone">
                <label for="reg-name">Select Your Industry</label>
                <select name="category" class="form-control selectpicker" data-live-search="true">
                  <option value="Marketing"> Marketing</option>
                  <option value="Designing"> Designing</option>
                  <option value="Agriculture"> Agriculture</option>
                  <option value="Steel "> Steel</option>
                  <option value="Hi-Tech"> Hi-Tech </option>
                  <option value="Transport"> Transport</option>
                  <option value="Computer"> Computer</option>
                  <option value="Education"> Education</option>
                  <option value="Hopitality"> Hospitality</option>
                  <option value="Entertainment">Entertainment</option>
                  <option value="Aerospace"> Aerospace</option>
                  <option value="Telecommunication"> Telecommunication</option>
                  <option value="Contruction"> Construction</option>
                  <option value="Pharmacetical"> Pharmacetical</option>
                  <option value="Health Care"> Health Care</option>
                  <option value="News Media"> News Media</option>
                  <option value="Manufacturing"> Manufacturing</option>
                  <option value="Music"> Music</option>
                  <option value="Electronics"> Electronics</option>
                  <option value="World Wide Web"> World Wide Web</option>
                </select>
              </div>
              <div class="form-group form-success-gone">
                <button type="submit" class="btn btn-primary btn-block">NEXT</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- end of enter feature field -->
    <!-- Arrows scroll down/up -->
    <footer class="section-footer scrolldown">
      <a class="down">
        <span class="icon"></span>
        <span class="txt">Scroll Down</span>
      </a>
    </footer>
  </div>
  <!-- End of section wrapper -->
</div>
<!-- End of home section -->
<!-- Begin of description section -->
<div class="section section-description fp-auto-height-responsive " data-section="about">
  <!-- Begin of section wrapper -->
  <div class="section-wrapper center-vh dir-col anim">
    <!-- title -->
    <div class="section-title text-center">
      <h5 class="title-bg">About</h5>
      <h2 class="display-4 display-title anim-2">
        Modern Website for Designing
      </h2>
    </div>

    <!-- content -->
    <div class="section-content reduced anim text-center">
      <!-- title and description -->
      <div class="title-desc anim-3">
        <p>
          The fastest and easiest way to create a logo. Logo Mart is a online
          logo software helping entrepreneurs, small and medium businesses,
          freelancers or associations to create professional logos in minutes!
          We are the most advanced logo creator on the market, allowing you to
          use our tool easily with a smartphone or a tablet. Make your logo with
          different style of templates whenever and wherever the inspiration
          comes! We are providing designing and printing facilities on a single
          platform. Choose amongest high-quality templates and customize your
          logo by editing color, shape, and font on different things. Like
          Medical Caps,T-Shirts,Businesss Card,Brochers & Pamphlet. If you are
          not selecting our templates You also have the facility to contact with
          our Designer to complete your requirement according to your need. We
          are positive that you will find a template that meets your needs!
        </p>
      </div>
    </div>

    <!-- Arrows scroll down/up -->
    <footer class="section-footer scrolldown">
      <a class="down">
        <span class="icon"></span>
        <span class="txt">Team</span>
      </a>
    </footer>
  </div>
  <!-- End of section wrapper -->
</div>
<!-- End of description section -->

<!-- Begin of description section -->
<div class="section section-description fp-auto-height-responsive " data-section="team">
  <!-- Begin of section wrapper -->
  <div class="section-wrapper center-vh dir-col anim">
    <!-- title -->
    <div class="section-title text-center">
      <h5 class="title-bg">Team</h5>
    </div>

    <!-- content -->
    <div class="section-content anim text-center">
      <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
      <!-- begin of item -->
      <div class="item row justify-content-between">
        <!-- img-frame-normal demo -->
        <div class="col-12 col-sm-6 col-md-4 center-vh">
          <div class="section-content anim translateUp">
            <div class="images text-center">
              <div class="img-avatar-alpha">
                <div class="img-1 shadow">
                  <a href="item.html">
                    <img class="img" src="/public/img/items/hina.jpg" alt="Image" />
                  </a>
                </div>
                <div class="legend text-center pos-abs">
                  <h5>Hina Ashraf</h5>
                  <p class="small">Web developer</p>
                  <div class="icons">
                    <a class="icon-btn" href="https://www.instagram.com/hina.ashraf.758/">
                      <i class="icon fa fa-instagram"></i>
                    </a>
                    <a class="icon-btn" href="#">
                      <i class="icon fa fa-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- img-frame-normal demo -->
        <div class="col-12 col-sm-6 col-md-4 center-vh">
          <div class="section-content anim translateUp">
            <div class="images text-center">
              <div class="img-avatar-alpha">
                <div class="img-1 shadow">
                  <a href="item.html">
                    <img class="img" src="/public/img/items/iqra4.jpg" alt="Image" />
                  </a>
                </div>
                <div class="legend text-center pos-abs">
                  <h5>Iqra Mehdi</h5>
                  <p class="small">Web Designer</p>
                  <div class="icons">
                    <a class="icon-btn" href="">
                      <i class="icon fa fa-instagram"></i>
                    </a>
                    <a class="icon-btn" href="#">
                      <i class="icon fa fa-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- img-frame-normal demo -->
        <div class="col-12 col-sm-6 col-md-4 center-vh">
          <div class="section-content anim">
            <div class="images text-center">
              <div class="img-avatar-alpha">
                <div class="img-1 shadow">
                  <a href="item.html">
                    <img class="img" src="/public/img/items/mano.jpg" alt="Image" />
                  </a>
                </div>
                <div class="legend text-center pos-abs">
                  <h5>Muberah Amir</h5>
                  <p class="small">Web Developer/ Photographer/ Web Designer</p>
                  <div class="icons">
                    <a class="icon-btn" href="#">
                      <i class="icon fa fa-instagram"></i>
                    </a>
                    <a class="icon-btn" href="#">
                      <i class="icon fa fa-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- img-frame-normal demo -->
        <div class="col-12 col-sm-6 col-md-4 center-vh">
          <div class="section-content anim translateDown">
            <div class="images text-center">
              <div class="img-avatar-alpha">
                <div class="img-1 shadow">
                  <a href="item.html">
                    <img class="img" src="/public/img/items/javi.jpg" alt="Image" />
                  </a>
                </div>
                <div class="legend text-center pos-abs">
                  <h5>Jaweria Munir</h5>
                  <p class="small">Web Developer</p>
                  <div class="icons">
                    <a class="icon-btn" href="https://www.instagram.com/munirjiya/">
                      <i class="icon fa fa-instagram"></i>
                    </a>
                    <a class="icon-btn" href="https://twitter.com/home">
                      <i class="icon fa fa-twitter"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of item -->
    </div>

    <!-- Arrows scroll down/up -->
    <footer class="section-footer scrolldown">
      <a class="down">
        <span class="icon"></span>
        <span class="txt">Our Services</span>
      </a>
    </footer>
  </div>
  <!-- End of section wrapper -->
</div>
<!-- End of description section -->

<!-- Begin of list feature section -->
<div class="section section-list-feature fp-auto-height-responsive " data-section="services">
  <!-- Begin of section wrapper -->
  <div class="section-wrapper twoside anim">
    <!-- title -->
    <div class="section-title text-center">
      <h2 class="display-4 display-title title-bg">Services</h2>
      <p class="anim-2">
        Logo Mart is a platform which provide you different services with the
        printing facility
      </p>
    </div>

    <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->
    <!-- begin of item -->
    <div class="item row justify-content-between fade-1">
      <!-- begin of column content -->
      <div class="col-12 col-md-6 col-lg-6">
        <!-- content -->
        <div class="section-content">
          <!-- a media object -->
          <div class="media">
            <div class="img d-flex mr-3">
              <i class="icon ion-paintbrush"></i>
            </div>
            <div class="media-body">
              <h4>Logo Design</h4>
              <p>
                Think your Logo Design in your mind and then it can be
                accomplish by our Designers.
              </p>
            </div>
          </div>
          <!-- a media object -->
          <div class="media">
            <div class="img d-flex mr-3">
              <i class="icon ion-tshirt-outline"></i>
            </div>
            <div class="media-body">
              <h4>T-Shirts</h4>
              <p>
                Design your T-Shirt with your Mind by selecting
                color,size,different pictures and text styles.
              </p>
            </div>
          </div>
          <!-- a media object -->
          <div class="media">
            <div class="img d-flex mr-3">
              <i class="icon ion-card"></i>
            </div>
            <div class="media-body">
              <h4>Business Card</h4>
              <p>
                Select your design Provide your Information and Create your
                Business card for your Company.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of column content -->

      <!-- begin of column content -->
      <div class="col-12 col-md-6 col-lg-6">
        <!-- content -->
        <div class="section-content">
          <!-- a media object -->
          <div class="media">
            <div class="img d-flex mr-3">
              <i class="icon ion-waterdrop"></i>
            </div>
            <div class="media-body">
              <h4>Medical Caps</h4>
              <p>
                Select Size,Design of logo if it is created.. If the Logo is not
                created yet then you have oppurtunity to create logo from our
                Website.
              </p>
            </div>
          </div>
          <!-- a media object -->
          <div class="media">
            <div class="img d-flex mr-3">
              <i class="icon ion-ios-paper-outline"></i>
            </div>
            <div class="media-body">
              <h4>Pamphlet</h4>
              <p>
                Pamphlets that is printed on both sides and folded. Design your
                pamphlet by selecting our templates.
              </p>
            </div>
          </div>
          <!-- a media object -->
          <div class="media">
            <div class="img d-flex mr-3">
              <i class="icon ion-document-text"></i>
            </div>
            <div class="media-body">
              <h4>Brochure</h4>
              <p>
                Design your Brochures,By giving Information about your company.
                We provide best templates for your Brochures.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of column content -->
    </div>
    <!-- end of item -->

    <!-- Arrows scroll down/up -->
    <footer class="section-footer scrolldown">
      <a class="down">
        <span class="icon"></span>
        <span class="txt">Scroll</span>
      </a>
    </footer>
  </div>
  <!-- End of section wrapper -->
</div>

<!-- Begin of slider section -->
<div class="section section-twoside fp-auto-height-responsive " data-section="projects">
  <!-- Begin of section wrapper -->
  <div class="section-wrapper twoside">
    <!-- title -->
    <div class="section-title text-center">
      <h5 class="title-bg ">Projects</h5>
    </div>

    <!-- begin of carousel-swiper-beta -->
    <div class="slider-wrapper carousel-swiper-beta carousel-smalls carousel-swiper-beta-demo mt-40">
      <!-- slider -->
      <div class="slider-container swiper-container">
        <ul class="item-list swiper-wrapper">
          <!-- item -->
          <li class="slide-item swiper-slide">
            <div class="item-wrapper">
              <div class="illustr">
                <img src="/public/img/items/img-sample2-small.jpg" alt="Image" class="img" />
              </div>
              <a class="legend" href="item.html#project_url">
                <h3 class="display-3">Mountain</h3>
                <h4>Music / Beats</h4>
              </a>
            </div>
          </li>
          <!-- item -->
          <li class="slide-item swiper-slide">
            <div class="item-wrapper">
              <div class="illustr">
                <img src="/public/img/items/img-sample3-small.jpg" alt="Image" class="img" />
              </div>
              <a class="legend" href="item.html#project_url">
                <h3 class="display-3">Cloud</h3>
                <h4>Music / Beats</h4>
              </a>
            </div>
          </li>
          <!-- item -->
          <li class="slide-item swiper-slide">
            <div class="item-wrapper">
              <div class="illustr">
                <img src="/public/img/items/img-sample4-small.jpg" alt="Image" class="img" />
              </div>
              <a class="legend" href="item.html#project_url">
                <h3 class="display-3">Garden</h3>
                <h4>Music / Beats</h4>
              </a>
            </div>
          </li>
          <!-- item -->
          <li class="slide-item swiper-slide">
            <div class="item-wrapper">
              <div class="illustr">
                <img src="/public/img/items/img-sample5-small.jpg" alt="Image" class="img" />
              </div>
              <a class="legend" href="item.html#project_url">
                <h3 class="display-3">Sky</h3>
                <h4>Music / Beats</h4>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <!-- pagination -->
      <div class="items-pagination bar"></div>

      <!-- navigation -->
      <div class="items-button bottom fit items-button-prev">
        <a class="btn btn-transp-arrow btn-primary icon-left" href="#">
          <span class="icon arrow-left"></span>
          <span class="text">Prev</span>
        </a>
      </div>
      <div class="items-button bottom fit items-button-next">
        <a class="btn btn-transp-arrow btn-primary" href="#">
          <span class="icon arrow-right"></span>
          <span class="text">Next</span>
        </a>
      </div>
    </div>
    <!-- end of carousel-swiper-beta -->
  </div>
  <!-- End of section wrapper -->
</div>
<!-- End of slider section -->

<!-- Begin of list two side 1 section -->
<div class="section section-twoside fp-auto-height-responsive " data-section="product-item-alpha">
  <!-- Begin of section wrapper -->
  <div class="section-wrapper twoside center-vh dir-col">
    <!-- title -->
    <div class="section-title text-center">
      <h5 class="title-bg">Designing & Printing</h5>
    </div>

    <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->

    <div class="item row justify-content-between">
      <!-- img-frame-legend-alpha demo -->
      <div class="col-12 col-sm-6 center-vh">
        <div class="section-content anim translateUp">
          <div class="images text-center">
            <div class="img-frame-legend-alpha">
              <div class="img-1 shadow">
                <img class="img" src="/public/img/items/logodesign.jpg" alt="Image" />
              </div>
              <div class="legend">
                <h2 class="display-4">
                  <strong>Logo Design</strong>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- img-frame-legend-alpha portrait mode bottom demo -->
      <div class="col-12 col-sm-6 col-md-5">
        <div class="section-content anim">
          <!-- title and description -->
          <div class="title-desc">
            <p>
              The very purpose of the Logo is to Identify an Entity, a brand,
              an organization, or an association. A well designed logo will be
              memorable, helping customers to remember the brand. A logo is a
              graphic mark, emblem or symbol used to aid and promote public
              recognization. It may be of an abstract or figurative design
              or include the text of a name it represent as an logo type
              or word mark.
            </p>
          </div>

          <a class="btn btn-transp-arrow btn-outline btn-primary btn-round" href="/logo">
            <span class="icon arrow-right"></span>
            <span class="text">View</span>
          </a>
        </div>
      </div>
    </div>
    <!-- end of item -->
  </div>
  <!-- End of section wrapper -->
</div>
<!-- End of list two side 1 section -->

<!-- Begin of list two side 2 section -->
<div class="section section-twoside fp-auto-height-responsive " data-section="product-item-beta">
  <!-- Begin of section wrapper -->
  <div class="section-wrapper twoside center-vh dir-col">
    <!-- title -->
    <div class="section-title text-center">
      <h5 class="title-bg">Designing & Printing</h5>
    </div>

    <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->

    <div class="item row justify-content-between">
      <!-- img-frame-legend-alpha demo -->
      <div class="col-12 col-sm-6 center-vh">
        <div class="section-content anim translateUp">
          <div class="images text-center">
            <div class="img-frame-legend-alpha">
              <div class="img-1 shadow">
                <img class="img" src="/public/img/items/caps4.jpg" alt="Image" />
              </div>
              <div class="legend">
                <h2 class="display-4">
                  <strong>Medical Caps</strong>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- img-frame-legend-alpha portrait mode bottom demo -->
      <div class="col-12 col-sm-6 col-md-5">
        <div class="section-content anim">
          <!-- title and description -->
          <div class="title-desc">
            <p>
              Providing you the best range of Aluminium Printed PP Cap,
              Aluminium RO Caps with effective & timely delivery.To
              accomplish the numerous requirements of the clients,
              we are engaged in providing a high-quality range of
              Aluminium Printed PP Cap.Being one of the leading
              organizations in the market, we are instrumental in
              providing an exclusive range of Aluminium RO Caps.

            </p>
          </div>

          <a class="btn btn-transp-arrow btn-outline btn-primary btn-round" href="/caps">
            <span class="icon arrow-right"></span>
            <span class="text">View</span>
          </a>
        </div>
      </div>
    </div>
    <!-- end of item -->
  </div>
  <!-- End of section wrapper -->
</div>
<!-- End of list two side 2 section -->


<!-- Begin of list two side 3 section -->
<div class="section section-twoside fp-auto-height-responsive " data-section="product-item-beta">
  <!-- Begin of section wrapper -->
  <div class="section-wrapper twoside center-vh dir-col">
    <!-- title -->
    <div class="section-title text-center">
      <h5 class="title-bg">Designing & Printing</h5>
    </div>

    <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->

    <div class="item row justify-content-between">
      <!-- img-frame-legend-alpha demo -->
      <div class="col-12 col-sm-6 center-vh">
        <div class="section-content anim translateUp">
          <div class="images text-center">
            <div class="img-frame-legend-alpha">
              <div class="img-1 shadow">
                <img class="img" src="/public/img/items/shirt.png" alt="Image" />
              </div>
              <div class="legend">
                <h2 class="display-4">
                  <strong>T-Shirt</strong>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- img-frame-legend-alpha portrait mode bottom demo -->
      <div class="col-12 col-sm-6 col-md-5">
        <div class="section-content anim">
          <!-- title and description -->
          <div class="title-desc">
            <p>
              A Printed T-shirt is a T-shirt bearing a design,image
              or lettering on it.T-shirt typically contains silk
              screened graphics of the name, logo, or image of a musical
              performer. A popular graphic on the rear of the T-shirts
              is a listing of information about the band's current tour,
              including tour cities (sometimes specifying venues) and
              corresponding dates.
            </p>
          </div>

          <a class="btn btn-transp-arrow btn-outline btn-primary btn-round" href="/t-shirt">
            <span class="icon arrow-right"></span>
            <span class="text">View</span>
          </a>
        </div>
      </div>
    </div>
    <!-- end of item -->
  </div>
  <!-- End of section wrapper -->
</div>
<!-- End of list two side 3 section -->


<!-- Begin of list two side 4 section -->
<div class="section section-twoside fp-auto-height-responsive " data-section="product-item-beta">
  <!-- Begin of section wrapper -->
  <div class="section-wrapper twoside center-vh dir-col">
    <!-- title -->
    <div class="section-title text-center">
      <h5 class="title-bg">Designing & Printing</h5>
    </div>

    <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->

    <div class="item row justify-content-between">
      <!-- img-frame-legend-alpha demo -->
      <div class="col-12 col-sm-6 center-vh">
        <div class="section-content anim translateUp">
          <div class="images text-center">
            <div class="img-frame-legend-alpha">
              <div class="img-1 shadow">
                <img class="img" src="/public/img/items/card2.jpg" alt="Image" />
              </div>
              <div class="legend">
                <h2 class="display-4">
                  <strong>Buisness Card</strong>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- img-frame-legend-alpha portrait mode bottom demo -->
      <div class="col-12 col-sm-6 col-md-5">
        <div class="section-content anim">
          <!-- title and description -->
          <div class="title-desc">
            <p>
              A business card is a small, printed, usually credit-card-sized paper
              card that holds your business details, such as name, contact details
              and brand logo. Your business card design is an essential part of
              your branding and should act as a visual extension of your brand design.
              Now they may include social media addresses such as Facebook, LinkedIn
              and Twitter. Traditionally, many cards were simple black text on white
              stock, and the distinctive look and feel of cards printed from an
              engraved plate was a desirable sign of professionalism.
            </p>
          </div>

          <a class="btn btn-transp-arrow btn-outline btn-primary btn-round" href="/businesscard">
            <span class="icon arrow-right"></span>
            <span class="text">View</span>
          </a>
        </div>
      </div>
    </div>
    <!-- end of item -->
  </div>
  <!-- End of section wrapper -->
</div>
<!-- End of list two side 4 section -->

<!-- Begin of list two side 5 section -->
<div class="section section-twoside fp-auto-height-responsive " data-section="product-item-beta">
  <!-- Begin of section wrapper -->
  <div class="section-wrapper twoside center-vh dir-col">
    <!-- title -->
    <div class="section-title text-center">
      <h5 class="title-bg">Designing & Printing</h5>
    </div>

    <!-- text or illustration order are manipulated via Bootstrap order-md-1, order-md-2 class -->

    <div class="item row justify-content-between">
      <!-- img-frame-legend-alpha demo -->
      <div class="col-12 col-sm-6 center-vh">
        <div class="section-content anim translateUp">
          <div class="images text-center">
            <div class="img-frame-legend-alpha">
              <div class="img-1 shadow">
                <img class="img" src="/public/img/items/BP.jpg" alt="Image" />
              </div>
              <div class="legend">
                <h3 class="display-4">
                  <strong>Brochures & Pamphlet</strong>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- img-frame-legend-alpha portrait mode bottom demo -->
      <div class="col-12 col-sm-6 col-md-5">
        <div class="section-content anim">
          <!-- title and description -->
          <div class="title-desc">
            <p>
              Pamphlets are also called “leaflets” and generally considered
              unbound booklets. Pamphlets vary in both size and style, but
              for the most part, a pamphlet is something that contains
              information about a single subject. Printed brochures,
              on the other hand, are sometimes used interchangeably
              with word “pamphlet. There are people who use
              the terms pamphlets and brochures interchangeably, while
              others insist that pamphlets are closer to color copies,
              while brochures are their own type of collateral altogether.
            </p>
          </div>

          <a class="btn btn-transp-arrow btn-outline btn-primary btn-round" href="/brochures">
            <span class="icon arrow-right"></span>
            <span class="text">View</span>
          </a>
        </div>
      </div>
    </div>
    <!-- end of item -->
  </div>
  <!-- End of section wrapper -->
</div>
<!-- End of list two side 5 section -->

<!-- Begin of contact section -->
<div class="section section-contact fp-auto-height-responsive no-slide-arrows " data-section="contact">
  <!-- begin of information slide -->
  <div class="slide" id="information" data-anchor="information">
    <!-- Begin of slide section wrapper -->
    <div class="section-wrapper">
      <!-- title -->
      <div class="section-title text-center">
        <h5 class="title-bg">Contact</h5>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <!-- content -->
          <div class="section-content anim text-left">
            <!-- title and description -->
            <div class="title-desc">
              <div class="anim-2">
                <h5>Customer Service</h5>
                <h2 class="display-4 display-title">Contact</h2>
                <p>
                  Contact us to hire an experienced designer who are always
                  looking for challenges. Creativity is our key
                </p>
              </div>
              <div class="address-container anim-3">
                <div class="row">
                  <div class="col-12 col-md-12 col-lg-6">
                    <h4>Contact</h4>
                    <p>Call: 042-3-7418467</p>
                    <p>Email: logomart@email.com</p>
                  </div>
                  <div class="col-12 col-md-12 col-lg-6">
                    <h4>Address</h4>
                    <p>
                      Company address
                      <br />12 Street Turning Place <br />Lahore, Pakistan
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Action button -->
            <div class="btns-action anim-4">
              <a class="btn btn-outline-white btn-round" href="#contact/message">
                <span class="txt">Send Message</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6"></div>
      </div>
    </div>
    <!-- End of slide section wrapper -->
  </div>
  <!-- end of information slide -->

  <!-- begin of message slide -->
  <div class="slide" id="message" data-anchor="message">
    <!-- Begin of slide section wrapper -->
    <div class="section-wrapper">
      <div class="row justify-content-between">
        <div class="col-12 col-md-6 center-vh">
          <!-- content -->
          <div class="section-content anim text-left">
            <!-- title and description -->
            <div class="title-desc">
              <div>
                <h5>Customer Service</h5>
                <h2 class="display-4 display-title">Email Us</h2>
                <p>
                  For further detail you can do questions about our services
                  found on our Website by using Email. We reply as soon as
                  possible. You also give us Feedback About the services you
                  get. If you have any Query you can also contact us.
                </p>
              </div>
            </div>

            <!-- Action button -->
            <div class="btns-action">
              <a class="btn btn-outline-white btn-round" href="#contact/information">
                <span class="txt">Information</span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5">
          <!-- content -->
          <div class="section-content anim text-left">
            <!-- title and description -->
            <div class="">
              <div class="form-container form-container-card">
                <!-- Message form container -->
                <form class="message form" method="POST" id="messageForm">
                  <div class="form-group name">
                    <label for="mes-name">Name :</label>
                    <input id="mes-name" name="name" type="text" placeholder=""
                      class="form-control-line form-success-clean" required />
                  </div>
                  <div class="form-group email">
                    <label for="mes-email">Email :</label>
                    <input id="mes-email" type="email" placeholder="" name="email"
                      class="form-control-line form-success-clean" required />
                  </div>
                  <div class="form-group no-border">
                    <label for="mes-text">Message</label>
                    <textarea id="mes-text" placeholder="..." name="message"
                      class="form-control form-control-outline thick form-success-clean" required></textarea>
                  </div>

                  <div class="btns">
                    <button id="submit-message" type="submit"
                      class="btn btn-normal btn-white btn-round btn-full email_b" name="submit_message">
                      <span class="txt">Send</span>
                      <span class="arrow-icon"></span>
                    </button>
                  </div>
                  <div id="successMessage" style="display: none;">
                    <p class="message-ok form-success-visible">
                      Your message has been sent, You will be contacted soon. Thank you!.
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of slide section wrapper -->
  </div>
  <!-- end of message slide -->
</div>
<!-- End of contact section -->